@charset "UTC-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,100&display=swap');

:root {
    --cor1: #FCFCFC;
    --cor2: #BDBDBD;
    --cor3: #7D7D7D;
    --cor4: #707070;
    --cor5: #575757;
    
    --fonte-diferente: 'Poppins', sans-serif;
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif; 
}



body {
background-color: var(--cor2);
font-family: var(--fonte-diferente);
font-weight: bold;
}


h1.titulo {
    font-size: 40px;
    font-style: italic;
    margin: 100px;
    text-align: center;
    color: white;
    font-family: var(--fonte-diferente);
    font-weight: bold;
}

h1 {
    text-align: center;
    font-size: 23px;
    
    
}

div.voltar{
    margin: 100px;
    /*text-align: center;*/
    color: white;
    font-family: var(--fonte-diferente);
    border-radius: 50px;
}

div.login {
    margin: 100px;
    text-align: center;
    color: white;
    font-family: var(--fonte-diferente);
    font-weight: bold;
    
}

.menu {
display: inline-block;
text-decoration: none;
text-transform: uppercase;
font-weight: bold;
font-size: 12px;
/*border-radius: 10px;
border: 3px solid;*/
text-align: center;
padding: 10px;
font-family: var(--fonte-diferente);
color: black;
}


nav a:hover{
    text-decoration: underline;
    margin: -3px;
    border-radius: 10px;
    border: 3px solid black;

    
}

.menu img {
    width: 90px;
    height: 90px;
    padding: 0px;
    
}

nav {
    margin: 272px;
    border-radius: 10px;

    
}

.pagina {
    line-height: 30px;
    margin-left: 13%;
    margin-right: 15%;
}

.escolha{
    position: absolute;
    left: 800px;
    top: 70px;
    margin-right: 500px;
    
}

.carrogag {
    width:400px;    
}

.carrorfj {
    position: absolute;
    width:400px;
    left: 600px;
    top: 100px;
}

.carrofno {
    position: absolute;
    width:400px;
    left: 950px;
    top: 100px;
}

.carroghy {
    position: absolute;
    width:400px;
    left: 1300px;
    top: 100px;
}

.tanque img {
    width: 200px;
    height: 80px;
    padding: 0px;
    
}

.km {
    position: absolute;
    left: 530px;
    top: 930px;
    
}
.observacoes{
    position:absolute;
    left:750px;
    top:880px;
}
label#obs{
    position:absolute;
    top:0px;
}
.abastecido{
    position:absolute;
    left:750px;
    top:1020px;
}
.abastecimentoLitros{
    position:relative;
    left:125px
}
.anexo{
    position:relative;
    left:365px;
}
.botoes{
    position:relative;
    left:700px;
    top:20px;
}
.botoes button{
    width:150px;
    height:50px;
}

.escolhaos {
    position: absolute;
    left:700px;
    top:275px;
}